@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Vast+Shadow&display=swap');

/*
    Tipos de Formatos:
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetype-aat (Apple Advanced Typography)
    - svg
*/

/* 
    Medidas Absolutas 
    - cm, mm, in, px, pt, pc
    Medidas Relativas
    - em, ex, rem, vw, vh, % 

    # 16px (geralmente)= 1 em
*/

/* 
    weight = Peso {
        lighter = mais fino
        normal = padrão
        bold = negrito
        bolder = negrito mais grosso
    }
    width = largura
    height = Altura
*/

@font-face {
    font-family: 'NexaL';
    src: url('../fonts/Nexa-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'NexaB';
    src: url('../fonts/Nexa-Heavy.ttf') format('truetype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: 'Vast Shadow';
    font-weight: normal;
}

h3, h4, h5, h6 {
    font-family: 'Nexa';
}

p, div, span{
    font-family: 'inter';
    font-weight: bold;
}

a {
    font-family: 'inter';
    font-weight: bold;
}