body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    cursor: default;
    text-align: center;
    color: white;
    border: 10px ridge rgb(114, 0, 129);
  }

  img {
    height: 280px;
    width: 500px;
  }

  .menu {
    background-image: url("../imgs/paisagem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
    color: rgb(0, 195, 255);
    background-color: rgba(44, 44, 44, 0.801);
    font-size: 25px;
    border: 5px solid black;
  }
  
  .buttons {
    margin: 5px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.904);
    border: 10px solid black;
  }

  .bnt-menus {
	padding:10px 25px;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(45deg, #330033, #1a001a);
    border: 2px solid rgb(182, 182, 182);
    transition: background-image 0.25s;
  }

  .bnt-menus:hover {
    color: white;
    cursor: pointer;
    background-image: linear-gradient(45deg, #cc00cc, #660066);
  }

  .here{
	padding:10px 25px;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(45deg, #cc00cc, #660066);
    border: 2px solid rgb(182, 182, 182);
  }

  .here:hover {
    color: white;
    cursor: pointer;
  }

  .forumr {
    display: flex;
    justify-content: center;
    align-items: top;
    width: auto;
    height: 1500px;
    color: rgb(0, 195, 255);
    background-color: rgba(44, 44, 44, 0.884);
  }

  .efeito-base3 {
    visibility: hidden;
  }

  .conteudor {
    margin-left: 20px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    min-width: 55%;
  }

.divpainelregister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 25px;
    font-size: 25px;
    font-style: bold;
    box-shadow: 0px 10px 40px rgb(0, 255, 106);
    border: 10px solid white;
    border-radius: 15px;
  }

  .painelregisterr {
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 50px;
  }
  
  .painelinputr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 50px;
    border: 5px solid black;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
  }

  .submit {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 80px;
    margin-bottom: 15px;
    border: 5px solid black;
    border-radius: 50px;
    font-size: 35px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 255, 149);
    transition: font-size 0.25s;
    background-color: rgb(70, 70, 70);
    color: white;
    font-weight: 800;
  }
  .submit:hover {
    cursor: pointer;
    font-size: 38px;
  }

  .obs {
    color: white;
    margin: 0px;
  }

  .titleregister {
    font-size: 70px;
    color: rgb(72, 243, 86);
  }