@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: rgb(87, 87, 87);
    min-height: 100vh;
}

h1 {
    color: white;
    font-family: 'NexaB';
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover {
    text-decoration: underline;
}


header {
    text-align: center;
    background-color: black;
}

header > h1 {
    padding-top: 50px;
    font-size: 6vw;
    font-variant: small-caps;
}


header > p {
    padding-bottom: 50px;
    color: white;
    font-weight: normal;
}

main {
    background-color: white;
    margin: 3vw, 0px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
    margin: 3vw, 0px;
}

section.img {
    background-color: rgb(133, 133, 133);
    color: white;
}

section.img > p {
    background-color: rgba(0, 0, 0, 0.247);
    width: 400px;
}

section > p {
    font-family: 'Merienda';
}



footer {
    background-color: black;
    text-align: center;
}

footer > p {
    padding: 10px;
    color: white;
}