* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: transparent url("../desafio/ProjetoSocial/imagens/fundo-madeira.jpg") center center no-repeat fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    background: transparent url(../desafio/ProjetoSocial/imagens/frame-iphone.png) center center no-repeat fixed;
    background-size: contain;
    position: absolute; 
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 21px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
    padding: 15px 10px 0px 0px;
}

section#redes-sociais img {
    margin: 15px 10px 0px 0px;
    width: 55px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.555);
    box-sizing: border-box;
    transition: .20s;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.555);
}