@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: rgb(87, 87, 87);
    min-height: 100vh;
}

h1 {
    color: white;
    font-family: 'NexaB';
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover {
    text-decoration: underline;
}


header {
    text-align: center;
    background-color: black;
}

header > h1 {
    padding-top: 50px;
    font-size: 6vw;
    font-variant: small-caps;
}


header > p {
    padding-bottom: 50px;
    color: white;
    font-weight: normal;
}

main {
    background-color: white;
    margin: 3vw, 0px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 3vw;
}

section > p {
    font-family: 'Merienda';
}

section.normal {
    background-color: white;
    color: black;
    margin: 3vw, 0px;
    padding-left: 30px;
}

section.img {
    background-color: rgb(133, 133, 133);
    color: white;
    padding: 7vw 0px 7vw 25px;
    box-shadow: inset 6px 6px 13px 5px rgba(0, 0, 0, 0.288);
    background-size: cover;
    background-attachment: fixed;
}

section.img > p {
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.466);
    text-shadow: 2px 3px 5px black;
}

section#img01 {
    background-image: url(../desafio/ProjetoCordel/imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../desafio/ProjetoCordel/imagens/background002.jpg);
    background-position: right center;
}

footer {
    background-color: black;
    text-align: center;
}

footer > p {
    padding: 10px;
    color: white;
}